body {
    background-color: rgb(134, 0, 0);
    text-align: center;
}

table {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 111;
    height: 166;
}