body {
    background-color: mediumturquoiseºº ;
    text-align: center;
}

table {
    background-color: lightgrey;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 111;
    height: 166;
}